<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

	<sql id="select">
		select * from students
	</sql>
	<select id="findAll" resultType="Student">
		<include refid="select" />
	</select>
	<select id="findOneByid" parameterType="Integer"
		resultType="Student">
		<include refid="select" />
		<where>
			id = #{stu.id}
		</where>
	</select>
	<update id="submitStu" parameterType="map">
		update students
		<set>
			<if test="name != null">
				name = #{name}
			</if>
			<if test="gender != null">
				, gender = #{gender}
			</if>
			<if test="phone != null">
				, phone = #{phone}
			</if>
			<if test="birthday != null">
				, birthday = #{birthday}
			</if>
			<if test="hobby != null">
				, hobby = #{hobby}
			</if>
			<if test="info != null">
				, info = #{info}
			</if>
			<if test="pic != null">
				, pic = #{ pic}
			</if>
		</set>
		<where>
			id = #{ id}
		</where>
	</update>

	<delete id="deleteStu" parameterType="list">
		delete from students
		<where>

			<foreach collection="array" item="id" open="id in ("
				close=")" separator=",">
				#{id}
			</foreach>
		</where>
	</delete>

	<select id="login" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM user
		<where>
			username = #{username}
			and
			password = #{password}
		</where>
	</select>

	<insert id="addStu" parameterType="map">
		insert into students
		(name,gender,phone,birthday,hobby,info,pic)
		values
		(#{name},#{gender},#{phone},#{birthday},#{hobby},#{info},#{pic})
	</insert>

	<select id="query" parameterType="map" resultType="Student">
		<include refid="select" />
		<where>
			<if test="findname != null and findname !='' ">
				name like "%"#{findname}"%"
			</if>
			<if test="findsex != null and findsex !='' ">
				and gender = #{findsex}
			</if>
		</where>
	</select>
	<select id="checkUsername" resultType="Integer"
		parameterType="map">
		select count(*) from user where username = #{username}
	</select>
</mapper>